<section class="section" id="accommodation">
  <div class="container narrow">
    <h2>Accommodation</h2>
    <p>
      We have secured discounts at
      <a href="https://peachpubs.com/rooms/the-fleece/" target="_blank" rel="noopener noreferrer">The Fleece</a>
      and
      <a href="https://www.acornpubs.co.uk/blueboar/bedrooms/" target="_blank" rel="noopener noreferrer">The Blue Boar</a>
      which are both a 12 minute walk from the venue.
    </p>
    <p>Alternatively you can stay at one of the following hotels:</p>
    <ol>
      <li>
        <a href="https://minstermill.co.uk" target="_blank" rel="noopener noreferrer">Old Swan & Minster Mill</a> (13 minute drive from the venue)
      </li>
      <li>
        <a href="https://www.premierinn.com/gb/en/hotels/england/oxfordshire/witney/witney.html" target="_blank" rel="noopener noreferrer">Premier Inn</a> (10 minute drive from the venue)
      </li>
      <li>
        <a href="https://www.travelodge.co.uk/hotels/681/Witney-hotel" target="_blank" rel="noopener noreferrer">Travelodge</a> (9 minute drive from the venue)
      </li>
    </ol>
  </div>
</section>
