<section class="section" id="accommodation">
  <div class="container narrow">
    <h2>Accommodation</h2>
    <ul class="text-left">
      <li>
        <a href="https://peachpubs.com/rooms/the-fleece/" target="_blank" rel="noopener noreferrer">The Fleece</a> (12 minute <b>walk</b> from the venue)
      </li>
      <li>
        <a href="https://www.acornpubs.co.uk/blueboar/bedrooms/" target="_blank" rel="noopener noreferrer">The Blue Boar</a> (13 minute <b>walk</b> from the venue)
      </li>
      <li>
        <a href="https://minstermill.co.uk" target="_blank" rel="noopener noreferrer">Old Swan & Minster Mill</a> (13 minute <b>drive</b> from the venue)
      </li>
      <li>
        <a href="https://www.premierinn.com/gb/en/hotels/england/oxfordshire/witney/witney.html" target="_blank" rel="noopener noreferrer">Premier Inn</a> (10 minute <b>drive</b> from the venue)
      </li>
      <li>
        <a href="https://www.travelodge.co.uk/hotels/681/Witney-hotel" target="_blank" rel="noopener noreferrer">Travelodge</a> (9 minute <b>drive</b> from the venue)
      </li>
    </ul>
  </div>
</section>
