<section class="section" id="catering">
  <div class="container narrow">
    <h2>Catering</h2>
    <p>
      A cash bar will be available all day (contactless payments or cash are accepted).
      <br><br>
      Snacks and a welcome drink will be provided after the ceremony. We will be having a sit down meal at 3:30 pm and evening food will be served at 8:00 pm. More details to be provided soon.
      <br><br>
      There is also a cafe on site which will be open until 5:00 pm serving homemade food and tasty treats.
      <br><br>
      If you bring any snacks with you or buy them from the cafe, we please ask that these do not contain nuts due to one of our guests having a serious nut allergy.
      <br><br>
      If you have any dietary requirements, please detail these on the RSVP.
    </p>
  </div>
</section>
