<section class="section" id="entertainment">
  <div class="container narrow">
    <h2>Entertainment</h2>
    <p>
      Nova Trio, a three-piece band, will be performing two one hour live sets. Watch the video below to see them in action.
    </p>
    <div class="embed">
      <iframe
        src="https://www.youtube.com/embed/UjnJaBOc89U?si=zjAxYjiuuZaR9Ewr"
        title="Nova Trio - Live music"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
      </iframe>
    </div>
    <p>As many of you will know, Anthony, used to be a DJ and has curated three unique DJ sets for the evening:</p>
    <ul class="text-left">
      <li><b>Oldies & Crowd pleasers</b> - To get everyone on the dance floor</li>
      <li><b>Indie favourites</b> - To reminisce about where we first met</li>
      <li><b>Dancefloor classics</b> - For those who last long into the night</li>
    </ul>
  </div>
</section>
