<section class="section" id="gifts">
  <div class="container narrow">
    <h2>Gifts</h2>
    <p>
      <i>
      We know it's not traditional<br>
      and not the way it's done.<br><br>
      Rather than a wedding list<br>
      we'd love a bit of sun.<br><br>
      So if you'd like to give a gift<br>
      and send us on our way.<br><br>
      Donations to our familymoon<br>
      would really make our day.
      </i>
    </p>
    <p><br>Details of how to contribute to our familymoon will be added here soon.</p>
  </div>
</section>
