<section class="section section-alt" id="schedule">
  <div class="container narrow">
    <h2>Schedule</h2>
    <ol class="timeline">
      <li>
        <span class="timeline-time">6:00 pm</span>
        <span class="timeline-event">Evening guests arrive</span>
      </li>
      <li>
        <span class="timeline-time">6:30 pm</span>
        <span class="timeline-event">First dance</span>
      </li>
      <li>
        <span class="timeline-time">6:30 pm - 7:30 pm</span>
        <span class="timeline-event">Live band - First performance <a class="timeline-more" href="#entertainment">more info</a></span>
      </li>
      <li>
        <span class="timeline-time">7:30 pm - 8:30 pm</span>
        <span class="timeline-event">DJ Set - Oldies &amp; Crowd pleasers <a class="timeline-more" href="#entertainment">more info</a></span>
      </li>
      <li>
        <span class="timeline-time">8:00 pm</span>
        <span class="timeline-event">Evening food <a class="timeline-more" href="#catering">more info</a></span>
      </li>
      <li>
        <span class="timeline-time">8:30 pm - 9:30 pm</span>
        <span class="timeline-event">Live band - Second performance <a class="timeline-more" href="#entertainment">more info</a></span>
      </li>
      <li>
        <span class="timeline-time">9:30 pm - 10:15 pm</span>
        <span class="timeline-event">DJ Set - Indie favourites <a class="timeline-more" href="#entertainment">more info</a></span>
      </li>
      <li>
        <span class="timeline-time">10:15 pm - 11:00 pm</span>
        <span class="timeline-event">DJ Set - Dancefloor classics <a class="timeline-more" href="#entertainment">more info</a></span>
      </li>
      <li>
        <span class="timeline-time">11:00 pm</span>
        <span class="timeline-event">Bar closes and music stops <a class="timeline-more" href="#catering">more info</a></span>
      </li>
      <li>
        <span class="timeline-time">12:00 am</span>
        <span class="timeline-event">Everyone off site</span>
      </li>
    </ol>
  </div>
</section>
