<section class="section" id="story">
  <div class="container narrow">
    <h2>Our story</h2>
    <p>
      We met on Christmas Eve 2007 at MudClub in Bognor Regis through a mutual friend, Jasmine.
      Just six months later, we moved in together in sunny Bournemouth, where we both studied at university.
      <br><br>
      While studying at Bournemouth University, we welcomed our wonderful son, Jacob, into the world.
      After graduating, we looked to move where Anthony got his first role as a software developer, in Oxfordshire, and we have lived here happily ever since.
      <br><br>
      In October 2021, during a trip to London, Anthony (finally) proposed to Cheryl at the top of The O2 and, as you’ve probably guessed by now, she said yes!
      <br><br>
      Although we wanted to get married, we felt that securing our own home was the priority, and in 2023 we became the proud owners of our home in the beautiful town of Chipping Norton (yes, right near
      <a href="https://diddlysquatfarmshop.com" target="_blank" rel="noopener noreferrer">Diddly Squat Farm</a>!).
      <br><br>
      We really hope you’ll be able to join us on our special day and experience a little of the magic of Oxfordshire and the Cotswolds, which have been our home for the past 13 years.
    </p>
  </div>
</section>
