<section class="section section-alt" id="travel">
  <div class="container">
    <h2>Travel</h2>
    <div class="cards cards-three">
      <article class="card">
        <h3>By car</h3>
        <p>Free parking on site.
          <br><br>
          Sat nav:
          <a class="text-link" href="https://www.google.com/maps/place/OX28+3FR" target="_blank" rel="noopener noreferrer">OX28 3FR</a>
          <br>
          Main Car Park:
          <a class="text-link" href="https://w3w.co/cool.dark.custom" target="_blank" rel="noopener noreferrer">///cool.dark.custom</a>
          <br>
          Disabled Car Park:
          <a class="text-link" href="https://w3w.co/nest.trend.hiking" target="_blank" rel="noopener noreferrer">///nest.trend.hiking</a>
        </p>
      </article>
      <article class="card">
        <h3>By public transport</h3>
        <p>
          Hanborough station is a 13 minute taxi ride, or a 30 minute bus ride (catch the S7 to Witney, Market Square).
          <br><br>
          Alternatively Oxford central station is a 30 minute taxi ride or a 55 minute bus ride (catch the S1 to Witney, opp King Georges Field)
        </p>
      </article>
      <article class="card">
        <h3>Questions</h3>
        <p>
          Any issues or questions regarding travel please send an email to
          <a class="text-link" href="mailto:{{ site.email }}">{{ site.email }}</a>
          and we'll do our best to help.
        </p>
      </article>
    </div>
  </div>
</section>
