<section class="section" id="venue">
  <div class="container narrow">
    <h2>Venue</h2>
    <div class="embed">
      <iframe
        src="https://www.cogges.org.uk/static/virtual_tour/"
        allowfullscreen
        loading="lazy">
      </iframe>
    </div>
    <p>
      <a href="https://www.cogges.org.uk/" target="_blank" rel="noopener noreferrer">Cogges Manor Farm</a>
      is a historic manor house and farm set within seventeen acres of beautiful open space, including an adventure playground, orchard picnic areas, and a stunning walled garden.
      <br><br>
      When Jacob was younger, Cheryl would visit Cogges farm at least once a week, as Jacob loved a particularly greedy goat called Jonathon.
      This means we have lots of happy memories visiting Cogges, so when we discovered it was also a licensed wedding venue, we knew it would be the perfect place to celebrate our special day.
      <br><br>
      Even if you’ve never visited Cogges Manor Farm before, you may still recognise it from the ITV drama
      <i>Downton Abbey</i>, where it features as the fictional Yew Tree Farm.
      <br><br>
      <img src="{{ page.dir | append: 'cogges-map.jpg' | relative_url }}" alt="Cogges Manor Farm">
      <br>
      You can learn more about Cogges Manor Farm and the 1,000 year history of the manor house on their
      <a href="https://www.cogges.org.uk/" target="_blank" rel="noopener noreferrer">website</a>.
    </p>
  </div>
</section>
